.class-color-example {
  background-color: #911818;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  font-family: "Lato", sans-serif;
}

/* Styling of headers */
h1 {
  margin: 0;
  color: #ffffff;
  font-size: 72px;
}

h2 {
  margin: 0;
  padding: 30px 0px 10px 0px;
  text-transform: uppercase;
  font-size: 18px;
}

h3 {
  font-size: 34px;
  margin: 0;
  padding: 20px 0px;
}

p {
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 20px;
  letter-spacing: 0.04em;
  line-height: 1.4em;
}

.top-menu-container {
  background-color: #e8e8e8;
  height: 80px;
  box-shadow: 0px 0px 10px #cccccc;
}

/* Logo Website */
.logo-header img {
  width: 50px;
}

.logo-header {
  display: block;
  position: absolute;
  left: 80px;
  top: 15px;
}

/* Top menu navigation */
.top-menu-container ul {
  padding: 0;
  margin: 0;
  float: right;
  position: relative;
  top: 34px;
  right: 80px;
}

.top-menu-container ul li {
  display: inline;
}

.top-menu-container ul li a {
  text-decoration: none;
  margin: 20px;
  font-size: 14px;
  padding: 0px 4px 6px 4px;
  text-transform: uppercase;
  color: #303030;
}

/* Landing section */
#hero-container {
  background: url("/storage/images/hero-banner.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 90%;
}

.hero-wrapper {
  width: 80%;
  position: relative;
  top: 30%;
  margin: 0 auto;
}

.line {
  text-decoration: line-through;
  -webkit-text-decoration-color: #ff6500;
          text-decoration-color: #ff6500;
  font-style: italic;
}

.orange-txt {
  color: #ff6500;
}

.btn-wrapper a {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: bold;
  padding: 12px 20px;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0px 30px 0px 0px;
}

.btn-wrapper {
  padding: 60px 0px 0px 0px;
}

.hero-wrapper a:hover {
  color: #000000;
  background-color: #ffffff;
  transition: 0.2s ease-in-out;
}

/* HOME - SECTION SKILLS */
.container-grid-4 {
  padding: 100px 0px;
  display: grid;
  margin: 0 auto;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  text-align: center;
}

.container-grid-4 p {
  font-size: 14px;
}

.container-grid-4 img {
  width: 250px;
}

.dark {
  color: #666;
}

.big {
  font-size: 38px;
}

hr {
  margin: 0 auto;
  width: 30px;
}

.header-section {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  padding: 0px 0px 100px 0px;
}

/* ABOUT US HOME PAGE */
.container-grid-2 {
  grid-template-columns: 1fr 1fr;
  display: grid;
  margin: 0 auto;
  width: 80%;
  padding: 0px 0px 100px 0px;
}

.img-team {
  width: 600px;
}

.container-grid-2 h2 {
  padding: 0;
  color: #a3a3a3;
}

.container-grid-2 h3 {
  padding: 20px 0px 40px 0px;
}

.container-grid-2 div:nth-child(2) {
  margin: auto;
  width: 80%;
}

.container-grid-2 a {
  background-color: #ff6500;
  border: 1px solid #ff6500;
  text-decoration: none;
  color: #ffffff;
  padding: 12px 30px;
  text-transform: uppercase;
  font-size: 20px;
}

.container-grid-2 a:hover {
  color: #666;
  border: 1px solid #ff6500;
  background-color: transparent;
  transition: 0.25s ease-in-out;
}

/* WHY US */
.section-why-us {
  display: grid;
  padding: 0px 0px 100px 0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 50px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.middle {
  grid-column: 2/3;
  grid-row: 1/3;
  margin: auto;
}

.section-why-us .icon-why-us {
  padding: 30px;
  font-size: 30px;
  border-radius: 5px 20px 5px;
  color: #ff6500;
  box-shadow: 0px 5px 10px #ff6500;
}

.section-why-us p {
  font-size: 14px;
}

/* Styling footer */
footer {
  background-color: #DCDCDC;
  box-shadow: 0px 0px 10px #dcdcdc;
}

.container-footer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 60px;
}

.container-footer img {
  width: 50px;
  padding: 30px 0px 10px 0px;
}

.container-footer p {
  font-size: 14px;
}
